@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:wght@400;700&display=swap');


header {
    width: 100%;
    height: 89px;
    background-color: #404EED;

}

header img {
    width: 340x;
    height: 57px;
    margin-top: 16px;
    margin-left: 80px;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.imagem {
    background-color: #404EED;
    width: 45%;
    height: 784px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 507px;
    height: 602px;
}


.container {
    width: 55%;
    height: 784px;
}

.opçoes {
    width: 400px;
    height: 706px;
    margin: auto;
    margin-top: 38px;
}


.opçao p {
    margin-bottom: 5px;
}

.caixa p {
    margin-bottom: 0px;
    font-size: 16px;
}


p {
    color: #232323;
    font-weight: 400px;
    font-size: 18px;
}


.container-caixas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.caixa {
    width: 105px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.container-redondo {
    background-color: #F2F2F2;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modelo img {
    width: 80%;
}

.gola img {
    width: 80%;
}

.tecido img {
    width: 60%;
}

.img-ref {
    margin-bottom: 24px;
}

.img-ref p {
    margin-bottom: 8px;
}


input {
    width: 382px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: #818181;
    padding-left: 16px;
}

button {
    width: 400px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 10px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    color: #FCFCFC;
    cursor: pointer;
}

footer {
    background-color: #F2F2F2;
    width: 100%;
    height: 342px;
    padding-top: 30px;
}

.titulo-footer {
    font-family: 'Roboto', sans-serif;
    color: #232323;
    font-weight: 400px;
    font-size: 24px;
    margin-left: 140px;
    margin-bottom: 15px;
}


.container-pedidos {
    display: flex;
    justify-content: center;
    overflow: scroll;
    margin-left: 140px;
    margin-right: 140px;
}

.pedidos {
    background-color: #ffffff;
    width: 202px;
    height: 236px;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pedidos h2 {
    font-family: 'Roboto', sans-serif;
    color: #232323;
    font-weight: 700px;
    font-size: 20px;
    margin-top: 8px;
}

.pedidos img {
    width: 180px;
    height: 180px;
}


/* css botões selecionados*/


.borda-selecionado {
    border: 3px solid #404EED;
}

.pedido-confirmado {
    background-color: #404EED;
}